/*
	Flexbox stylesheet för Hermods uppdrag 2
*/


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    margin: 0;
}

h2 {
    display: inline-block;
    font-weight: normal;
    font-size: 2em;
    border-bottom: 1px solid #ffa700;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.flexbox-container {
    display: flex;
    background: #8ec8db;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    padding: 0;
    margin: 0.5%;
}

nav a {
    padding: 20px;
}
a[role="button"]{
    background-color:#ff6c00;
    font-weight: bold;
    padding: 8px;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.2s linear;
}
a[role="button"]:hover {
    background-color: #167cc8;
}
a.flexbox-menu-item {
    text-decoration: none;
    color: #1268a8;
    background-color: rgba(255, 255, 255, 0.3);
    border-left: 1px rgba(255, 255, 255, 0.3) solid;
    border-right: 1px rgba(255, 255, 255, 0.3) solid;
    transition: background-color 0.2s linear;
}

a.flexbox-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.media {
    background: #fff7b8;
    border-radius: 3px;
    margin: 1%;
    padding: 1em;
}

.media-object {
    max-width: 50%;
    margin: 10px;
    margin-left: 24px;
    box-sizing: border-box;
}

.media-object.float-right {
    float: right;
}

.media-object.float-left {
    float: left;
}

.heading {
    margin: 0 0 .5em;
}

.media-body {
    font-size: medium;
    padding: 10px;
}

